/* .dark {
	background-color: var(--text-color);
	color: var(--bg-color);
	font-family: sans-serif;
}
.light {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}

.hero {
	min-height: 100vh;
} */
